
h4{
  color: black;
  font-size: larger;
  padding-left: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightcoral;
}

.sidebar{
  width: 310px;
  height:100vh;
  background-color: rgb(255, 255, 255);
  position:fixed;
  top: 0;
  left:0;
  border-radius: 10px;
  box-shadow: 10px 10px  10px rgba(0, 0, 0, 0.1);
}
ul{
  padding:0;
  list-style: none;

}
li{
  padding:8px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
li:hover{
  /* background-color: cadetblue; */
  border-radius: 10px;
  color: #8AAAE5;
  border-left: 5px solid;
}
/* .ji{
  padding:8px; 
} */
.fonticonalign{
  margin-right: 10px;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.filemanager{
  background-color: rgb(106, 246, 211);
  height: 200px;
  position:fixed;
  z-index: 992;
  margin-left:320px;
  top:80px;
  width: 50vw;
  right: 10px;
  margin-right: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 20px 20px  20px rgba(128, 225, 242, 0.5);
}
.inner-filemanager{
  background-color: rgb(247, 247, 255);
  height: 150px;
  width: 180px;
  position: relative;
  z-index: 994;
  border-radius: 20px;
  box-shadow: 5px 5px ;
  
}
/* .filemanager-icons{
  width: 100px;
  height: 100px;
  margin:10px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  ju
  jstify-content: center;
} */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  
}
.container img{
  width: 100px;
  color: lightblue;
}

.uploadpop{
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 997; 
  width: 600px;
  height: 400px;
  display: block;
  align-items:center;
  margin-left: 70px;
  /* backdrop-filter: blur(5px); */
  cursor: pointer;
  border-radius: 10px;
  
  
}

.fileupload{
  width: 500px;
  height: 300px;
  background-color: rgb(38, 227, 174);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  justify-content: space-around;
  border-radius: 10px;
}
h3{
  text-align: center;
}
.input{
  display: none;
}
.uploadpreview{
  width:500px;
  height: 300px;
   display:flex;
   flex-direction: row;
   justify-content:space-evenly;
   align-items: center;

 
  /* background-color: red; */
  
}
.fileview{
  display: flex;
  flex-direction: column;
  background-color: #8AAAE5;
  width: 300px;
  height: 300px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;

}


/* button{
  width: 100px;
  height: 50px;
  color: #8AAAE5;
  background-color: lightgreen;
} */

.buttonupload img{
  width: 90px;
  margin-left: 80px;
  align-content: center;
}
.closebutton{
  position:fixed;
  top: 0;
  right: 0;
 
  width: 50px;
  display:flex;
  align-content: center;
  justify-content: center;
}
.closebutton img{
  width: 50px;
  height: 40px;
  color: red;
  background-color: red;
}

.scanpopupbar{
  position:fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 300px;
  z-index:999;
  display: block;
  background-color: white;

  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 997; 
  width: 500px;
  height: 300px;
  display: block;
  align-items:center;
  margin-left: 70px;
  cursor: pointer;
  border-radius: 10px;
}


.insidescanpop{
  background-color: #ccc;
  width: 500px;
  height: 200px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
input{
  width: 20vw;
}


.scansearch img{
  width: 100px;
}

.browsepopup{
  
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 997; 
  width: 500px;
  height: 300px;
  display: block;
  align-items:center;
  margin-left: 70px;
  cursor: pointer;
  border-radius: 10px;
  overflow: auto;

}

.summaryview
{
  width:fit-content;
  height: 50%;
  position:fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 997; 
  display: block;
  align-items:center;
  margin-left: 70px;
  border-radius: 10px;
  cursor: pointer;
  overflow:auto;
 

}

.impdata p{
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top:6px;
  
}
.fetchedinfo{
   width:fit-content;
   /* background-color: red; */
   padding: 5px;
   box-sizing: border-box;
   box-shadow: 0px 2px 3px rgba(1,1,1,0.5);
   margin: 10px;

}  
.datealert{
  width:40%;
  height: 40%;
  overflow: auto;
  background-color: wheat;
  position: relative;

}
h4{
  color: black;
}

.filedatedisplay{
  /* background-color: red; */
  width:max-content;

  position: fixed;
  bottom:20%;
  left: calc(50% + 155px); /* Adjust this value according to the width of your .filemanager */
  transform: translateX(-60%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  overflow:auto

}

.datedisplaybtn{
  width: 50px;
  height: 50px;
}
tbody{
  background-color:wheat;
}

tr{
  margin-right: 20px;
}
th{
  margin-right: 10px;
}
thead{
  color: blue;
  background-color:gainsboro;
}
a:hover{
  color: blue;
}
a{
  font-style: none;
}
